{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1 class="offset-md-5">Hello {{ app.user.username }}</h1>
        <div class="row account">
            {# Partie gestion utilisateur donc ajout et update/suppression#}
            <div class="col-md-6" style="border-right: solid; text-align: center">
                <h2>Users management</h2>
                <div class="account">
                    <a href="{{ path('create') }}">
                        <button class="btn btn-secondary">Create new User</button>
                    </a>
                </div>
                {% for msg in app.flashes('success') %}
                    {{ msg }}
                {% endfor %}
                <div class="account">
                    <a href="{{ path('update') }}">
                        <button class="btn btn-secondary">Update some Users</button>
                    </a>
                </div>
            </div>

            {# Partie gestion voyage à remplir plus tard #}
            <div class="col-md-6" style="text-align: center">
                <h2>Trips management</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores at consectetur consequuntur cum, deserunt ea enim exercitationem, fuga iure nam non nostrum nulla officia perferendis possimus saepe sequi sint?
            </div>
        </div>
    </div>
{% endblock %}

