{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block body %}
    <h1>Edit Location</h1>

    {{ include('admin/_location_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('location_index') }}">back to list</a>

    {{ include('admin/_location_delete_form.html.twig') }}
{% endblock %}
