{% extends 'base.html.twig' %}

{% block title %}New Trip{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <span>Créer une sortie</span>
                    <span><i class="fas fa-plus"></i></span>

                </div>
                <div class="card-body">
                    {{ include('trip/_form.html.twig') }}
                    <a href="{{ path('trip_index') }}">back to list</a>
                </div>


            </div>



        </div>

    </div>








{% endblock %}
